<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpMWMZjzRv_aARD4QfHYrqK18Fz_Pp-08</string>
	<key>GCM_SENDER_ID</key>
	<string>252674938370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jenis.Bhagvad-GIta-Api</string>
	<key>PROJECT_ID</key>
	<string>bhagavad-gita-1282e</string>
	<key>STORAGE_BUCKET</key>
	<string>bhagavad-gita-1282e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252674938370:ios:08add9bbabc5deb0e9791b</string>
</dict>
</plist>